@tailwind base;
@tailwind components;
@tailwind utilities;

html,body {
    @apply bg-[#000000];
}

[role="separator"]{
    @apply bg-[#2d2d2d]
}

.smooth-animation{
    @apply transition-all duration-150 ease-in
}

.highlighted-text-search {
    @apply text-[#3B49DF] bg-[#c2e7ff] rounded;
}

.alert{
    @apply w-full grid grid-cols-[25px,1fr] p-4 gap-4 text-black rounded-xl
}

.alert-info{
    @apply bg-[#18b2f5]
}

.alert-success{
    @apply bg-[#00b5ff]
}

.alert-warning{
    @apply bg-[#ffbe00]
}

.alert-error{
    @apply bg-[#ff5861]
}

.ellipsis-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

*::-webkit-scrollbar {
    width: 8px;
    height: 12px;
}
*::-webkit-scrollbar-track {
    border-radius: 24px;
    background-color: transparent;
}

*::-webkit-scrollbar-track:hover {
    background-color: transparent;
}

*::-webkit-scrollbar-track:active {
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    border-radius: 24px;
    background-color: #c7c7c7;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #747775;
}

*::-webkit-scrollbar-thumb:active {
    background-color: #747775;
}